<div *ngIf="!loading && movies.length == 0" class="no-movies">
  <p class="text-center">Sorry, no movies available.</p>
</div>
<div class="card-group">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="row">
    <div *ngFor="let movie of movies">
      <div class="col h-100">
        <div class="card h-100" style="width: 18rem;">
          <img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{movie.Title}}</h5>
            <p class="card-text" *ngIf="movie.Plot">{{movie.Plot}}</p>
            <p class="card-text" *ngIf="!movie.Plot">Plot Unavailable.</p>
            <p class="card-text">
              <small class="text-muted" *ngIf="movie.Price">Price: {{movie.Price}}</small>
              <small class="text-muted" *ngIf="!movie.Price">Price: Unavailable</small>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="movie.ID[0] == 'c'">Available in CinemaWorld</li>
            <li class="list-group-item" *ngIf="movie.ID[0] == 'f'">Available in FilmWorld</li>
          </ul>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngIf="movie.Price && movie.ID[0] == 'c'">Cheaper in CinemaWorld</li>
            <li class="list-group-item" *ngIf="movie.Price && movie.ID[0] == 'f'">Cheaper in FilmWorld</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
