.full {
    position: absolute;
    z-index: 0;
    background-size: 100% 100%;
    top: 0px;
    left: 0px; 
    min-width: 100%;
    min-height: 100%; 
    width: auto;
    height: auto;
}

.loader[_ngcontent-c1] {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  margin-bottom: 25px;
  color: white;
  font-size: 44px;
  background-color: black;
  opacity: 0.7;
}

p {
  color: white;
  background-color: gray;
  opacity: 0.7;
  font-size: 2rem;
}

.welcome {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  padding-bottom: 35px;
}

.less_margin_top {
  margin-top: 60px;
}

.container {
  height: 100%;
}

.search-bar {
  width: 550px;
  height: 45px;
  border-radius: 25px;
}
